<div class="index_left left">
	<div class="info_box_label h2">
		¡YA INICIAMOS!
	</div>
	<div class="info_box text dotted_bottom padding_bottom">
		<div class="spacer_bottom">
			<b>Clases Intensivo:</b> <span class="red">Agosto 5 2013</span>
		</div>
		<div class="spacer_bottom">
			<b>Clases para niños:</b> <span class="red">Agosto 19 2013</span>
		</div>
		<div class="spacer_bottom">
			<b>Clases Sabatinos:</b> <span class="red">Agosto 24 2013</span>
		</div>
		<div class="spacer">
			<b>Exámenes de ubicación:</b> Hablar para agendar una cita. <%= link_to "+","/visitanos", :class => "plus_link" %>
		</div>
	</div>
	<div class="info_box_label h2 margin_top">
		INSCRIPCIONES
	</div>
	<div class="info_box text">
		<div class="spacer_bottom alignment_center">
			<span class="red"><b>No existen costo de inscripción</b></span>
		</div>
		<div class="spacer_bottom">
			<b>Kinder/Children  costo por mes:</b> <span class="red">$500.00</span>
		</div>
		<div class="spacer_bottom">
			<b>Youngsters costo por mes:</b> <span class="red">$630.00</span>
		</div>
		<div class="spacer_bottom">
			<b>Teens costo por mes:</b> <span class="red">$810.00</span>
		</div>
		<div class="spacer_bottom">
			<b>Adultos tiene un costo mensual:</b> <span class="red">$930.00</span>
		</div>
		<div class="spacer alignment_center">
			<span class="red"><b>*** precios mas IVA***</b></span>
		</div>
	</div>
</div>
<div class="index_right left">
	<ul id="myGallery">
		<li><%= image_tag("image1.jpg") %></li>
		<li><%= image_tag("image2.jpg") %></li>
		<li><%= image_tag("image5.jpg") %></li>
		<li><%= image_tag("image6.jpg") %></li>
		<li><%= image_tag("image8.jpg") %></li>
	</ul>
</div>