<div class="dotted_bottom margin_right margin_left">
	<div class="index_left2 left width_medium text text_justify removed_left_margin">
		<div class="info_box_label h2">
			KINDER
		</div>
		<div class="margin_top">
			<%= image_tag("http://institutogardner.com/wp-content/uploads/2012/10/03.png", :width => 175, :class=>"image_right") %>
			La educación infantil temprana es el nombre que recibe el ciclo de estudios previos a la educación primaria obligatoria establecida en muchas partes del mundo hispanoamericano. En algunos lugares, es parte del sistema formal de educación y en otros es un centro de cuidado o jardín de infancia y cubre la edad de 0 a 6 años.
		</div>
	</div>
	<div class="index_right2 right width_medium text text_justify removed_right_margin">
		<div class="info_box_label h2">
			CHILDREN
		</div>
		<div class="margin_top">
			<%= image_tag("http://www.faith2share.net/Portals/0/Site13/children%20mission%202.jpg", :width => 175, :class=>"image_right") %>
			La educación infantil temprana es el nombre que recibe el ciclo de estudios previos a la educación primaria obligatoria establecida en muchas partes del mundo hispanoamericano. En algunos lugares, es parte del sistema formal de educación y en otros es un centro de cuidado o jardín de infancia y cubre la edad de 0 a 6 años.
		</div>
	</div>
	<div class="fix"></div>
</div>
<div class="dotted_bottom margin_right margin_left">
	<div class="index_left2 left width_medium text text_justify removed_left_margin">
		<div class="info_box_label h2">
			YOUNGSTERS
		</div>
		<div class="margin_top">
			<%= image_tag("http://images.idiva.com/media/content/2012/Oct/happyyouth1.jpg", :width => 175, :class=>"image_right") %>
			La educación infantil temprana es el nombre que recibe el ciclo de estudios previos a la educación primaria obligatoria establecida en muchas partes del mundo hispanoamericano. En algunos lugares, es parte del sistema formal de educación y en otros es un centro de cuidado o jardín de infancia y cubre la edad de 0 a 6 años.
		</div>
	</div>
	<div class="index_right2 right width_medium text text_justify removed_right_margin">
		<div class="info_box_label h2">
			TEEN COURSES
		</div>
		<div class="margin_top">
			<%= image_tag("http://www.english-language.uk.com/images/courses/teen_vacation4.jpg", :width => 175, :class=>"image_right") %>
			La educación infantil temprana es el nombre que recibe el ciclo de estudios previos a la educación primaria obligatoria establecida en muchas partes del mundo hispanoamericano. En algunos lugares, es parte del sistema formal de educación y en otros es un centro de cuidado o jardín de infancia y cubre la edad de 0 a 6 años.
		</div>
	</div>
	<div class="fix"></div>
</div>
<div class="margin_right margin_left">
	<div class="index_left2 left width_medium text text_justify removed_left_margin">
		<div class="info_box_label h2">
			ADULTS
		</div>
		<div class="margin_top">
			<%= image_tag("http://www.britishcouncil.in/sites/britishcouncil.in2/files/styles/bc-590x332/public/tc_-_adults_imp.jpg?itok=5UDlilQ0", :width => 175, :class=>"image_right") %>
			La educación infantil temprana es el nombre que recibe el ciclo de estudios previos a la educación primaria obligatoria establecida en muchas partes del mundo hispanoamericano. En algunos lugares, es parte del sistema formal de educación y en otros es un centro de cuidado o jardín de infancia y cubre la edad de 0 a 6 años.
		</div>
	</div>
	<div class="fix"></div>
</div>
<!-- 
<div class="info_box_label h2 margin_top_left">
	KINDER
</div>
<div class="margin_left margin_right padding_top text text_justify padding_bottom dotted_bottom">
	La educación infantil temprana es el nombre que recibe el ciclo de estudios previos a la educación primaria obligatoria establecida en muchas partes del mundo hispanoamericano. En algunos lugares, es parte del sistema formal de educación y en otros es un centro de cuidado o jardín de infancia y cubre la edad de 0 a 6 años.
</div>
<div class="info_box_label h2 margin_top_left">
	CHILDREN
</div>
<div class="margin_left margin_right padding_top text text_justify padding_bottom dotted_bottom">
	La educación infantil temprana es el nombre que recibe el ciclo de estudios previos a la educación primaria obligatoria establecida en muchas partes del mundo hispanoamericano. En algunos lugares, es parte del sistema formal de educación y en otros es un centro de cuidado o jardín de infancia y cubre la edad de 0 a 6 años.
</div>
<div class="info_box_label h2 margin_top_left">
	YOUNGSTERS
</div>
<div class="margin_left margin_right padding_top text text_justify padding_bottom dotted_bottom">
	La educación infantil temprana es el nombre que recibe el ciclo de estudios previos a la educación primaria obligatoria establecida en muchas partes del mundo hispanoamericano. En algunos lugares, es parte del sistema formal de educación y en otros es un centro de cuidado o jardín de infancia y cubre la edad de 0 a 6 años.
</div>
<div class="info_box_label h2 margin_top_left">
	TEEN COURSES
</div>
<div class="margin_left margin_right padding_top text text_justify padding_bottom dotted_bottom">
	La educación infantil temprana es el nombre que recibe el ciclo de estudios previos a la educación primaria obligatoria establecida en muchas partes del mundo hispanoamericano. En algunos lugares, es parte del sistema formal de educación y en otros es un centro de cuidado o jardín de infancia y cubre la edad de 0 a 6 años.
</div>
<div class="info_box_label h2 margin_top_left">
	ADULTS
</div>
<div class="margin_left margin_right padding_top text text_justify padding_bottom">
	La educación infantil temprana es el nombre que recibe el ciclo de estudios previos a la educación primaria obligatoria establecida en muchas partes del mundo hispanoamericano. En algunos lugares, es parte del sistema formal de educación y en otros es un centro de cuidado o jardín de infancia y cubre la edad de 0 a 6 años.
</div>
-->