<!DOCTYPE html>
<html>
<head>
  <title>London</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "jquery.galleryview-3.0-dev" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= javascript_include_tag "jquery.easing.1.3" %>
  <%= javascript_include_tag "jquery.galleryview-3.0-dev" %>
  <%= javascript_include_tag "jquery.timers-1.2" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript">
		$(function(){
			$('#myGallery').galleryView({
				panel_width: 488,
				panel_height: 450,
				autoplay: true
				});
		});
	</script>

</head>
<body id="body">
	<div id="container">
		<div id="header">
			<%= image_tag("header_image.png", :height => 250) %>			
		</div>
		<div id="menu">
			<div id="menu_container" class="h1">
				<span class="border_right"><%= get_tab_selected("INICIO","/").html_safe %></span><span class="border_right"><%= get_tab_selected("NOSOTROS","/nosotros").html_safe %></span><span class="border_right"><%= get_tab_selected("PROGRAMAS","/programas").html_safe %></span><span><%= get_tab_selected("VISITANOS","/visitanos").html_safe %></span>
			</div>
		</div>
		<div id="body">
			<%= yield %>
		</div>
		<div class="fix"></div>
		<div id="footer" class="text">
			<div id="footer_extra">
				<div class="left" style="margin-left: 160px;">
					<b>Domicilio:</b><br />
					Jazmín #200 Col. Centro<br />
					Ciudad Guzmán, Jal.
				</div>
				<div class="left" style="margin-left: 60px;">
					<b>Email:</b> <%= mail_to "hnava974@gmail.com", nil, :class => "color_white" %> <br />
					<b>Teléfonos:</b> (341) 41 33333
				</div>
				<div class="left" style="margin-left: 60px;">
					<b>Siguenos:</b><br />
					<%= link_to(image_tag('facebook.png', :width => 25), "https://www.facebook.com/LondonEnglishInstitute", :target => "blank") %>
					<%= link_to(image_tag('twitter.png', :width => 25), "https://twitter.com/londonenginst", :target => "blank") %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
